<nav class="navbar navbar-expand-lg bg-light">
    <h2 class="navbar-brand">Ejemplo Servicio</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active" *ngFor="let ruta of opciones">
          <a class="nav-link" routerLink="{{ruta.ruta}}">{{ruta.texto}} <span class="sr-only">(current)</span></a>
        </li>
        
        
      </ul>
    </div>
  </nav>
